<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Data</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Year</th>
                <th>Week</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in calendar_data %}
                <tr>
                    <td>{{ entry.year }}</td>
                    <td>{{ entry.week }}</td>
                    <td>{{ entry.details }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
