<!DOCTYPE html>
<html>
<head>
    <title>Life Operating System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <h2>My Life OS</h2> <!-- You can replace this with your logo if you have one -->
        </div>
        <div class="nav-links">
            <button onclick="location.href='/toLogin'" class="nav-login-button">Login</button>
            <button onclick="location.href='/toSignup'" class="nav-signup-button">Signup</button>
            <button onclick="location.href='/logout'" class="nav-logout-button">Logout</button>
        </div>
    </nav>
    {% if account_created %}
    <div id="successAlert" class="alert alert-success">
      Account created successfully!
    </div>
    {% endif %}
    {% if logout_success %}
    <div id="successAlert" class="alert alert-success">
      Logout successfully!
    </div>
    {% endif %}
    <div id="initial-container" class="centered-container">
        <h1>Enter Your Birthday</h1>
        <div class="input-group">
          <input type="date" id="birthdayInput" placeholder="Enter your birthday...">
          <button id="visualizeButton" onclick="renderCalendar()">Visualize</button>
        </div>
    </div>
      <div class="calendar-container">
          <div id="legendY" class="legend"></div>
          <div>
              <div id="legendX" class="legend"></div>
              <div id="calendar"></div>
          </div>
      </div>
  </div>

    <!-- Popup Structure -->
  <div id="popup" class="popup" style="display: none;"></div>

  <!-- Modal Structure -->
  <div id="weekModal" class="modal" style="display: none;">
      <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalText">Journal Entries</p>
          <div id="weekView" class="week-view">
              <!-- JavaScript will populate this area with day columns and textareas -->
          </div>
          <button id="saveJournal">Save Entries</button>
      </div>
  </div>

  <!-- Reference to your external JavaScript file -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.test.js') }}"></script>
</body>
</html>
